<style>
    body {
        background: #90ee90;
        font-family: calibri;
    }
    #title {
        padding: 20px;
        margin: 10px;
        background: #00fa9a;
        font-size: 2em;
        border-radius: 25px;
        box-shadow: 4px 4px 4px grey;
    }
    #descri {
        padding: 20px;
        margin: 10px;
        background: #00fa9a;
        font-size: 1.2em;
        border-radius: 25px;
        box-shadow: 4px 4px 4px grey;
    }
    #nav {
        background:#00fa9a;
        padding: 20px;
        border-radius: 25px;
    }
    a {
        padding: 20px;
        margin: 10px;
        background: #98fb98;
        font-size: 1.2em;
        border-radius: 25px;
        box-shadow: 4px 4px 4px grey;
        text-decoration: none;
    }
    a:hover {
        background: greenyellow;
        padding-left: 15%;
        padding-right: 15%;
        transition: 0.3s;
    }
</style>
<center>
    <br><br>
    <div id="nav">
        <a href="{% url 'blog:home' %}">Volver a la lista de noticias</a>
    </div>
    <br><br><br>
    <div id="title">{{post.title}}</div>
    <br>
    <div id="descri">{{post.content}}</div>
    <br>
</center>