<style>
    body {
        background: #90ee90;
        font-family: calibri;
    }
    div {
        background: whitesmoke;
        margin: 30px;
        padding: 20px;
        border: 2px solid black;
        border-radius: 20px;
        box-shadow: 2px 2px 2px grey;
        allign-self: center;
    }
div a{
    text-decoration: none;
    color: blue;
    text-shadow: 2px 2px 2px grey;
    background: aquamarine;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid blue;
}

a:hover {
    background: linear-gradient(cyan, magenta);
    color: black;
    transition: 0.3s;
}
</style>

<div>
    <center>
        <h1>Hola, visita mi <a class="text-blue-500" href="{% url 'blog:home' %}">blog aqui</a></h1>
    </center>
</div>